# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../N_queen_problem\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\Users\User\Desktop\N_queen_problem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
